/* body{
    background-color: rgb(180, 173, 173);
}
.but{
    width: 100px;
    height: 100px;
} */

body{
    /* background-color: #080710; */
    background: url(fon.png);
    overflow-x: hidden;
    background: #E6E7E9;


}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
form{
    height: 520px;
    width: 400px;
    background-color: #ffbca778;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgb(255 92 0 / 60%);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    color: black;
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    border: 2px solid rgb(0 0 0);
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    border: 2px solid rgb(0 0 0);

    margin-left: 95px;
    margin-top: 50px;
    width: 50%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}
.check{
    width: 25px;

}
.con{
    display: flex;
    align-items: center;

}
.conp{
    color:black;
    margin-top: 10px;
}
.hrr{
    width: 400px;
    height: 3px;
    background-color: gray;
    border-radius: 10px;
}
.cart{
    width: 200px;
    margin-left: 106px;
    cursor: pointer;
}
.con-div{
    display: flex;
}
.byt{
    margin-left: 10px;
}
.bytt{
    width: 30%;

    margin-left: 50px;
}
.f{
        
    height: 630px;
    width: 400px;
    background-color: #ffbca778;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgb(255 92 0 / 60%);
    padding: 50px 35px;
}


.contgl{
    display: flex;
    height: 70px;
}
.cont-1{
    margin-top: 30px;
    margin-right: 400px;
    
}
.reg{

}
.ar{
margin-right: 50px;
}
.font{
    width: 1000px;
    height: 416px;
    left: 520px;
    position: absolute;
}
header{
 background: #E6E7E9;
 
}
*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 180px;
    position: absolute;
    top: 10;
}
.conter{
    position: absolute;
width: 547px;
height: 252px;
left: 60px;
top: 251px;
}
.txt1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 42px;
}
.txt11{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
}
.bod{

}