-var title = 'New greetings from Pug'

html(lang="en")
  head
    link(rel="stylesheet", href="style.css", type="text/css")
    title Node js Pug
    meta(charset="utf-8")
  body.bod
header
  .contgl
    .cont-1
      img.logo(src='logo.png')
    .cont-1
      a.ar Промо
      a.ar Статистика
      a.ar Услуги
    .cont-1
      a.reg Регистрация


  img.font(src='font.png')
.conter
  p.txt1 БЕСПЛАТНО
  p.txt11 диагностика ходовой части
  p.txt1 + скидка 50%
    p.txt11 на диагностику двигателя <br> постоянным клиентам

.supcon
  .supcon-1
    a.suptext Техническое обслуживание 
    a.suptext Диагностика
    a.suptext Ремонт КПП
    a.suptext Ремонт двигателя
    a.suptext Шиномонтаж
    a.suptext Кузовной ремонт
    a.suptext Ремонт ходовой части
  .supcon-2
    .con-con
      img.font(src='.png') a.text-con-con
    .con-con
      img.font(src='.png') a.text-con-con
    .con-con
      img.font(src='.png') a.text-con-con
    .con-con
      img.font(src='.png') a.text-con-con 
      

         
